# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.sqlite3
local_settings.py
/static/
/media/

# Environment files
.env
env/
newenv/

# OS or Editor specific
.DS_Store
*.swp
*.swo
.vscode/
*.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*./migrations/
*.whl

# Testing
.tox/
htmlcov/
.coverage

# Other
*.pyc
*~
*.orig
*.bak

*.exe
movie posters/